<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicodelee.beautyarticle" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application
        android:name=".app.APP"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.home.MainAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Act"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.article.ArticleAct" android:screenOrientation="portrait"/>

        <activity android:name=".ui.setting.SettingAct" android:screenOrientation="portrait" android:theme="@style/MaterialSettingsTheme" />

        <activity android:name=".ui.fun.CropAct" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.fun.FunTemplateAct" android:screenOrientation="portrait" android:theme="@style/ActTheme"></activity>
        <activity android:name="me.nereo.multi_image_selector.PreviewPicturesActivity" android:theme="@style/ActTheme" android:configChanges="orientation|screenSize" />
        <activity android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" android:theme="@style/ActTheme"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- ShareSDK开始 -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <meta-data
                android:name="Adapter"
                android:value="cn.sharesdk.demo.MyAdapter" />
        </activity>
        <!-- ShareSDK结束 -->


        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />

    </application>

</manifest>
